@{
    ViewBag.Title = "Página não Encontrada";
    Layout = "~/Views/Shared/_LayoutAllUsers.cshtml";
}



@section featured {
    <section class="featured col-xs-12">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <h3>Desculpe, mas a página que estava procurando não pode ser encontrada.</h3>
        </div>
    </section>
}