@using Mvc.Mailer

<p>Recebemos uma requisição de mudança de senha para a conta cadastrada com o seu e-mail. Para realizar a mudança de senha, favor visitar o seguinte endereço:</p>
<strong><a href="@Url.Abs(@Url.Action("ChangePassword", "Account", new {@recoverPasswordKey = @ViewBag.RecoverPasswordKey, @userID = @ViewBag.UserID}))">Recuperar Senha</a></strong>
<br/>
<br/>
<i>Caso você não tenha feito este pedido, favor ignorar este email.</i>
<br/>
<br/>
<p>
    Atenciosamente,<br/>
    Equipe <strong>Wella Educação</strong>
</p>

