@using Mvc.Mailer


<br/>
<br/>
<div style="text-align: left;">
    <h2><b>@ViewBag.Title</b></h2>
    <br/>
    <p style="white-space: pre-wrap; border-bottom: 2px #D30F44 solid"><b>Nome:</b> @ViewBag.Name</p>
    <p style="white-space: pre-wrap; border-bottom: 2px #D30F44 solid"><b>E-mail:</b> @ViewBag.Email</p>
    <b>Mensagem:</b><br/>
    <p style="white-space: pre-wrap; border: 2px #D30F44 solid; border-left:none; border-right:none;" >@ViewBag.Message</p>
    <br/>
    <br/>
    <p>
        Este é um e-mail automático gerado a partir da mensagem enviada pelo usuário.
    </p>
</div>


