@using Mvc.Mailer

<p>@ViewBag.Sender enviou uma nova requisição: "@ViewBag.RefundName".</p>
<br/>
<strong><a href="@Url.Abs((string)@ViewBag.RefundUrl)">Ver Requisição</a></strong>
<br/>
<br/>
<p>
    Atenciosamente,<br/>
    Equipe <strong>Wella Educação</strong>
</p>
