@using Mvc.Mailer

<p>Nova requisição de reembolso por @ViewBag.Sender: Mensal do Mês de "@ViewBag.Month"</p>
<br/>
<strong><a href="@Url.Abs((string)ViewBag.MonthlyUrl)">Ver Mensal</a></strong>
<br/>
<br/>
<p>
    Atenciosamente,<br/>
    Equipe <strong>Wella Educação</strong>
</p>
