@using Microsoft.Web.Mvc.Controls
@model WellaMates.ViewModel.CreateVisitVM

<div class="container" style="padding-bottom: 20px; padding-top: 20px;">
    <p id="validation-error" style="display:none;color:#d30f44;margin: 30px;font-weight: 500;font-size: 24px;">Alguns dos campos do formulário estão inválidos:</p>
    <form class="border-fix form-horizontal" id="refund-form">

                                       <!-- TARGET ID -->
        <input type="hidden" data-bind="value: VisitID" />


        <!-- DATE: DATE -->
        <div class=" input-style col-lg-4 form-group">                        <!-- INPUT NAME -->
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Date">
                <!-- LABEL -->
                Data<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                 <!-- FIELD NAME -->                                                     <!-- VALIDATION MSG -->                         <!-- VALIDATION MSG -->                <!--   INPUT NAMES   -->
                <input data-bind="value: Date" class="form-control" data-val="true" data-val-date="Formato da data invalido." data-val-required="O campo &#39;Data&#39; é obrigatório" id="Date" name="Date" type="date" value="01/01/0001 00:00:00" />
                                                                <!-- INPUT NAME -->
                <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
            </div>
        </div>
        
        <!-- REFUND -->
        @{Html.RenderPartial("_CreateRefundItemPartial");}
        <!-- SUBMIT BUTTON -->
        @{ Html.RenderPartial("_CreateButtonPartial", Model.SubmitText);}
</form>
</div>