<table>
    <th>
        <td>Titulo 1</td>
        <td>Titulo 2</td>
        <td>Titulo 3</td>
    </th>
    <tr>
        <td>Conteúdo 1</td>
        <td>Conteúdo 2</td>
        <td>Conteúdo 3</td>
    </tr>
</table>