<h2>Regulamento da Campanha <b>Mérito MAC</b></h2>

<p>
    Este é o regulamento completo da Campanha <b>MÉRITO MAC</b>
    <br/>
    Leia com atenção e consulte sempre que tiver alguma dúvida.
</p>
<br/>
<section id="regulation" class="text-left">
    <ol>
        <li>
            <a id="1"><b>Descrição geral da Campanha</b></a>
            <ol>
                <li>
                    A Campanha Mérito MAC é promovida pela empresa Access Consultoria Imobiliária Ltda., constituindo-se um ato unilateral com promessa de recompensa, conforme o disposto nos artigos 854 e seguintes do Código Civil.
                </li>
                <li>
                    A Campanha permitirá o reconhecimento dos participantes, estabelecendo um sistema de premiação baseado em um ranking com o acumulado total de pontos conquistados ao longo da campanha, conforme as regras pré-estabelecidas.
                </li>
                <li>
                    A adesão ao regulamento da Campanha é voluntária e pressupõe o entendimento e aceitação total das condições, regras e normas descritas neste regulamento.
                </li>
            </ol>
        </li>
        
        <li>
            <a id="2"><b>Objetivo e Regras Gerais da Campanha</b></a>
            <ol>
                <li>
                    A Campanha constitui-se em um conjunto de ações que tem como objetivo principal aumentar o número de vendas dos produtos Access Consultoria Imobiliária Ltda., para os participantes da Campanha.
                </li>
                <li>
                    A Campanha será baseada no acúmulo de pontos conquistados através de vendas empreendimentos, conforme tabela de pontos indicada no <a class="btn btn-xs btn-default" href="#5">item 5</a> e <a class="btn btn-xs btn-default" href="#6">item 6</a>, do presente Regulamento.
                </li>
                <li>
                    A Campanha terá vigência de  01 de janeiro a 31 de dezembro de 2014.
                </li>
                <li>
                    O encerramento da Campanha poderá ocorrer antes do prazo, a critério exclusivo da Realizadora, mediante aviso prévio aos participantes, com antecedência mínima de 30 (trinta) dias.
                </li>
                <li>
                    Hipótese de encerremento antecipado:
                    <ol>
                        <li>
                            Na hipótese de encerramento antecipado, as vendas enviadas até o dia imediatamente anterior ao do anúncio de encerramento serão analisadas e os pontos serão computados, antecipando-se assim a premiação mensal e final.
                        </li>
                        <li>
                            Em caso de anúncio de encerramento antecipado este será feito pela Realizadora via E-mail ou SMS e no site da Campanha.
                        </li>
                    </ol>
                </li>
                <li>
                    Serão disponibilizados aos participantes da Campanha os seguintes canais de comunicação:
                    <ul>
                        <li><b>E-mail:</b> <a>faleconosco@meritomac.com.br</a></li>
                        <li><b>Portal:</b> <a href="http://www.meritomac.com.br">www.meritomac.com.br</a></li>
                    </ul>
                </li>
                <li>
                    Todos os participantes que se cadastrarem na Campanha pelo portal exclusivo, poderão receber informações via e-mail e via SMS, desde que autorizem o envio de tais dados no momento de cadastro no site.
                </li>
            </ol>
        </li>
        <li>
            <a id="3"><b>Público – Alvo da Campanha</b></a>
            <ol>
                <li>
                    Poderão participar da Campanha Mérito MAC os corretores, gerentes e coordenadores da Access Consultoria Imobiliária Ltda., ativos que se cadastrarem no site da Campanha.
                </li>
            </ol>
        </li>
        <li>
            <a id="4"><b>Mecânica</b></a>
            <ol>
                <li>
                    Para participar, os corretores, gerentes e coordenadores elegíveis deverão se cadastrar na ferramenta WEB (site <a href="http://www.meritomac.com.br">www.meritomac.com.br</a>), de janeiro a Dezembro de 2014 e preencher o formulário padrão de cadastro no site Mérito MAC apropriado com os seguintes campos: Nome completo, endereço completo, data de nascimento, telefone celular e residencial.
                    <br/>
                    O ranking da pontuação será considerado de janeiro de 2014 a dezembro de 2014.
                </li>
            </ol>
        </li>
        <li>
            <a id="5"><b>Pontuação</b></a>
            <ul>
                <li>
                    Gerente – O acúmulo de pontos será proporcional ao VGV total da equipe, na proporção de 1(um) ponto para cada R$ 5.000,00 em VGV.
                </li>
                <li>
                    Coordenador – O acúmulo de pontos será proporcional às vendas do(s) produto(s) que coordena, durante sua gestão, na proporção de 1(um) ponto para cada R$ 4.000,00 em VGV.
                </li>
                <li>
                    Coordenadores de Terceiros – O acúmulo de pontos será proporcional ao VGV de cada coordenador, considerando 1(um) ponto para cada R$ 4.000,00 em VGV
                </li>
            </ul>
            <br/>
            <i>Pontos por empreendimento:</i>
            <br/>
            @using (Html.Bootstrap().Begin(new Table()))
            {
                <tr>
                    <th>Empreendimento</th> <th>Período 2014</th> <th>Pontuação</th>
                </tr>
                <tr><td>Amistá Bosque e Lazer</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Amistá Special Resort</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Ares do Parque</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Boulevard Lapa</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Cosmopolitan</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Class Varanda Mariana</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Decor Paraíso</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Gallery Offices</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Now Studios Ipiranga</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Novo Jardim</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Passeio do Bosque</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Tons da Villa</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Villa Varanda</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Host Paraíso</td> <td>Jan. a Dez.</td> <td>1 ponto a cada 1.000 VGV</td></tr>
            }
            <br/>
        </li>
        <li>
            <a id="6"><b>Premiações por Faixa</b></a>
            <ul>
                <li>
                    A premiação ocorrerá nos meses de Julho de 2014 e Janeiro de 2015;
                </li>
                <li>
                    O participante terá acesso ao ranking mensal no portal da campanha, para acompanhar sua posição;
                </li>
                <li>
                    A premiação será em catálogo de prêmios e será liberada para troca no mês seguinte ao julgamento;
                </li>
            </ul><br/>
            <i>Faixas de Premiação:</i>
            <br/>
            @using (Html.Bootstrap().Begin(new Table()))
            {
                <tr>
                    <th>Faixas</th> <th>Pontos</th>
                </tr>
                <tr><td>Faixa 1</td> <td>1.000</td></tr>
                <tr><td>Faixa 2</td> <td>2.000</td></tr>
                <tr><td>Faixa 3</td> <td>4.000</td></tr>
                <tr><td>Faixa 4</td> <td>6.000</td></tr>
                <tr><td>Faixa 5</td> <td>10.000</td></tr>
            }
            <br/>
        </li>
        <li>
            <a id="7"><b>Regras Gerais</b></a>
            <br/>
            <br/>
            A participação na Campanha implica a aceitação plena e incondicional deste regulamento, assim como das condições nele expressas.
            <br/>
            <br/>
            Ao aderir ao presente Regulamento, o participante estará automaticamente autorizando a Realizadora a utilizar, de modo gratuito, definitivo e irrevogável, o seu nome, imagem e som de voz em qualquer veículo de imprensa, mídia ou Internet, para divulgação da Campanha, cedendo também à Realizadora todos os direitos autorais relativos ao trabalho inscrito, que passará a ser de propriedade da Realizadora.
            <br/>
            <br/>
            A Realizadora reserva-se o direito de decidir sobre qualquer ponto não especificado neste regulamento, sendo sua decisão soberana e incontestável.
            <br/>
            <br/>
            A participação nesta Campanha não gerará ao participante nenhum outro direito ou vantagem que não estejam expressamente previstos neste Regulamento.
            <br/>
            <br/>
            Os benefícios oferecidos na Campanha não poderão ser convertidos, em nenhuma hipótese, em qualquer outra forma, vantagem ou benefício que não os descritos neste Regulamento, além de serem intransferíveis e inalienáveis.
            <br/>
            <br/>
            Caberá exclusivamente à Realizadora avaliar e decidir sobre os casos omissos e as dúvidas suscitadas por este Regulamento.
            <br/>
            <br/>
            Os participantes terão acesso aos resultados da Campanha periodicamente, através dos canais de comunicação da Campanha.
            <br/>
            <br/>
            O participante, neste ato, assume plena e exclusiva responsabilidade pelo trabalho que produzir, por sua titularidade, originalidade e imagens nele utilizadas, incluindo, sem limitação, responsabilidade por eventuais violações à intimidade, privacidade, honra e imagem de qualquer pessoa, a deveres de segredo, à propriedade industrial, direito autoral e/ou a quaisquer outros bens juridicamente protegidos, eximindo a Realizadora de qualquer responsabilidade relativamente a tais fatos, aspectos, direitos e/ou situações.
            <br/>
            <br/>
            As dúvidas não esclarecidas pelo presente regulamento serão dirimidas pela Realizadora.  
            <br/>
            <br/>
            Serão automaticamente desclassificados os participantes que agirem de má-fé ou que, de alguma forma, burlar as regras e condições deste Regulamento ou utilizarem mecanismos fraudulentos ou ilícitos.
            <br/>
            <br/>
            Os participantes reconhecem e aceitam expressamente que a Realizadora não poderá ser responsabilizada por qualquer dano ou prejuízo oriundo da participação nesta Campanha ou da eventual aceitação da recompensa.
            <br/>
            <br/>
            A Realizadora reserva-se o direito de cancelar, suspender ou modificar a Campanha sem aviso prévio, caso ocorram fraudes, dificuldades técnicas ou qualquer outro imprevisto que esteja fora de seu controle e que comprometa a integridade desta Campanha, de forma que não possa ser conduzida como originalmente planejada.
            <br/>
            <br/>
            Esta campanha é destinada exclusivamente para os profissionais ativos da empresa Access Consultoria Imobiliária Ltda.. Caso o corretor, gerente ou coordenador venha a ser desligado por qualquer motivo do quadro da Access Consultoria Imobiliária Ltda., este perderá os pontos já ganhos, estão garantidas apenas as trocas já realizadas até a data da comunicação do desligamento.
            <br/>
            <br/>
            Condições Gerais de todas as experiências:
            <ul>
                <li>
                    Depois de agendado, alterações ou cancelamentos estarão sujeitos a multas ou cancelamentos.
                </li>
                <li>
                    Não é válido para feriados, congressos, eventos corporativos ou grupos.
                </li>
                <li>
                    Este programa está sujeito a alterações sem aviso prévio e a disponibilidade de lugares no ato da reserva.
                </li>
                <li>
                    Todas as viagens e experiências estão sujeitas a alterações e modificações para se adequarem com a verba disponível. Isso está sujeito a acontecer devido ao longo prazo dado para os agendamentos, a variação na cotação do dólar, alteração no valor das passagens aéreas, alteração nos valores dos serviços inclusos e etc. Essas adequações no roteiro, caso aconteçam, poderão ser redução na classe do hotel, redução no número de dias, diminuição nos itens inclusos, mudança do destino e etc.
                </li>
            </ul>
            <br/>
        </li>
        <li>
            <a id="8"><b>Portal de troca dos prêmios</b></a>
            <br/>
            <br/>
            A premiação será através de catálogo de prêmios divulgado no site da campanha, a pontuação será convertida nos prêmios, previamente estipulados, e os ganhadores poderão escolher de acordo com sua pontuação; <br/>
            <br/>
            Os prazos de entregas dos prêmios seguem as políticas comerciais de cada fornecedor e os prêmios que forem escolhidos viagens estarão disponíveis, para a realização das mesmas,  nos meses de setembro e outubro de 2014 e março e abril de 2015, no período de baixa temporada. <br/>
        </li>
    </ol>
</section>
