@model WellaMates.ViewModel.MemberContactVM

@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content-title clearfix">
    <div class="fade-line-left"></div><h1><i><span class="hidden-xs">Entre em </span>Contato</i></h1><div class="fade-line-right"></div><br/>
</div>
<br/>
<div class="col-xs-10 col-xs-push-1" style="margin-bottom: 20px;">
    @{ Html.RenderPartial("_ContactPartial", Model.Contact); }
</div>