@{
    ViewBag.Title = "Importar Planilha Excell";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Importar Planilha Excell</h2>

@Html.BeginForm("ImportExcell", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class=" form-group">
        <label class="control-label" for="Excell">Excell<span class="required" style="visibility:hidden;">*</span></label>
        <input id="Excell" name="Excell" type="File" value="" />
        <span class="help-block">Selecione o arquivo com os dados a serem atualizados.</span>
        <span class="field-validation-valid" data-valmsg-for="Excell" data-valmsg-replace="true"></span>
    </div>
    <button class="btn-default  btn" type="submit">Enviar</button>
}
