@model WellaMates.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Esqueci minha Senha";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

@section featured
{
}
<div class="logout-content-small extra-big-margin clearfix">
    <div class="login-title image-glow hidden-xs">
        Esqueci<br/>
        <div class="fade-line-left"></div><i>Minha</i><div class="fade-line-right"></div><br/>
        <b>Senha</b>
    </div>
    <p>Novas instruções para recuperar sua senha foram enviadas para <strong>@Model.Email</strong></p>
    @Html.ActionLink("Voltar", "Login")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
