@model WellaMates.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Esqueci minha Senha";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

@section featured
{
}

<div class="logout-content-small bigger-margin clearfix">
    <div class="login-title image-glow hidden-xs">
        Esqueci<br/>
        <div class="fade-line-left"></div><i>Minha</i><div class="fade-line-right"></div><br/>
        <b>Senha</b>
    </div>

    <p>Por favor, informe o seu login:</p>
    <section id="loginForm">
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @Html.AntiForgeryToken()

            @f.FormGroup().Class("input-style").TextBoxFor(m => m.UserName).ShowValidationMessage(false).Placeholder("Insira seu CPF");
            @Html.Bootstrap().SubmitButton().AppendIcon("glyphicon glyphicon-chevron-right").Text("Recuperar Senha").Class("forgot-pass-bt")
        }
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
