@model WellaMates.ViewModel.AdministratorRefundDetailVM

@{
    ViewBag.Title = "Detalhes do Reembolso (#" + Model.Refund.RefundID + ")";
    ViewBag.ItemDetailUrl = @Url.Action("RefundItemDetail");
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content-title clearfix">
    <div class="fade-line-left"></div><h1><i>Detalhes <span class="hidden-xs">do Reembolso</span></i></h1><div class="fade-line-right"></div><br/>
</div>
<br/>
<div class="col-xs-10 col-xs-push-1" style="margin-bottom: 20px;">
    @{ Html.RenderPartial("_RefundDetailsPartial", Model.Refund); }
</div>
<div >
    <h3 style="display: inline-block">Itens de Reembolso</h3>
    @{ Html.RenderPartial("_RefundItemsPartial", Model.Refund.RefundItems); }
</div>

