@model WellaMates.ViewModel.FreelancerEventCreateVM
@using MACPortal.ViewModel

@{
    ViewBag.Title = "Novo Evento";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content-title clearfix">
    <div class="fade-line-left"></div>
    <h1><i>Novo Evento</i></h1>
    <div class="fade-line-right"></div>
    <br />
</div>

@{
    Html.RenderPartial("_CreateEventPartial", Model.CreateEvent);
}

@section scripts
{
    @{ Html.RenderPartial("_CreateEventScriptsPartial", Model.CreateEvent); }
}