@model WellaMates.ViewModel.FreelancerEventDetailVM
@using WellaMates.Models

@{
    ViewBag.Title = "Detalhes do Evento (#" + Model.Event.EventID + ")";
    ViewBag.ItemDetailUrl = @Url.Action("RefundItemDetail");
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    ViewBag.BackAction = "Events";
    ViewBag.BackController = "Freelancer";
}

<div class="content-title clearfix">
    <div class="fade-line-left"></div><h1><i>Detalhes <span class="hidden-xs">do Evento</span></i></h1><div class="fade-line-right"></div><br/>
</div>
<br/>
<div class="col-xs-10 col-xs-push-1" style="margin-bottom: 20px;">
    @{ Html.RenderPartial("_EventDetailsPartial", Model.Event); }
</div>

<div class="col-xs-12">
@if (Model.Event.Refund.Status != RefundStatus.NON_EXISTENT)
{
    
    <div>
        <h3 style="display: inline-block">Itens de Reembolso</h3>
        <div class="col-xs-10 col-xs-push-1" style="margin-bottom: 20px">@{ Html.RenderPartial("_RefundDetailsPartial", Model.Event.Refund); }</div> <br/>
        @{ Html.RenderPartial("_RefundItemsPartial", Model.Event.Refund.RefundItems); }
    </div>
    
       
    switch (Model.Event.Refund.Status)
    {
        case RefundStatus.WAITING_FOR_FREELANCER:
            <h3 style="display: inline-block">Resposta do Reembolso</h3>
        {
            Html.RenderPartial("_RefundResponsePartial", Model.Event.Refund.RefundItems);
        }
            break;
        case RefundStatus.WAITING_FOR_MANAGER:
            <p>Esperando pela resposta de seu supervisor.</p>
            break;
        case RefundStatus.ACCEPTED:
            <p>Sua proposta de reembolso foi aprovada de acordo com as condições especificadas. Aguarde pela confirmação do pagamento.</p>
            break;
        case RefundStatus.REJECTED:
            <p>Sua proposta de reembolso foi reprovada por completo. Veja mais detalhes nos items de sua proposta.</p>
            break;
        case RefundStatus.PAID:
            <p>Sua proposta foi paga com sucesso!</p>
            break;
    }
}
</div>
@section scripts {
    @if (Model.Event.Refund.Status == RefundStatus.WAITING_FOR_FREELANCER)
    {
        {
            Html.RenderPartial("_RefundResponseScriptsPartial", Model.Response);
        }
    }
}


