@using WellaMates.ViewModel
@model WellaMates.ViewModel.BaseMemberVM

@{
    ViewBag.Title = "Meu Perfil";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<div class="content-title clearfix">
    <div class="fade-line-left"></div><h1><i>Meu Perfil</i></h1><div class="fade-line-right"></div><br/>
</div>
<div class="edit-profile-container clearfix">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <h1>Modificar Senha</h1>
        <br/>
        @{ Html.RenderPartial("_EditUserPartial", Model.User.SetMode(EditUserMode.PASSWORD, "Modificar Senha")); }
        <br/>
        <br/>
    </div>
    <div class="col-lg-1 col-md-1 visible-lg visible-md">
        <div class="vertical-divider"></div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
        <h1>Alterar Dados Pessoais</h1>
        <br/>
        @{ Html.RenderPartial("_EditUserPartial", Model.User.SetMode(EditUserMode.INFO, "Salvar")); }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#cpf-input").val(FormatCPF($("#cpf-input").val()));
        });
        
        function FormatCPF(cpf) {
            return cpf.substring(0, 3) + "." + cpf.substring(3, 6) + "." + cpf.substring(6, 9) + "-" + cpf.substring(9, 11);
        }
    </script>
}

