@model WellaMates.ViewModel.UserVM

@{
    ViewBag.Title = "Bem Vindo";
    Layout = "~/Views/Shared/_LayoutAllUsers.cshtml";
    ViewBag.DisableBackBt = true;
}

<div class="login-title image-glow hidden-xs">
    Bem-Vindo,<br/>
    <i><span class="text-name">@Model.Name</span></i>
    <br/>
</div>
<br />
<br />
<b>Estamos passando por um período de manutenção para oferecer o melhor serviço para você.</b>
<br />
<br />
<b>Tente novamente mais tarde.</b>
<br />
<br />
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
    @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">Entrar com outra conta</a>
}