@{
    ViewBag.Title = "Regulamento";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    ViewBag.DisableBackBt = true;
}

@{
    //Html.RenderPartial("_RegulationPartial");
}

<div id="regulation-checkbox">
@{
    //Html.Bootstrap().CheckBox("AcceptRegulation").Disabled().IsChecked(true).Label().LabelText("Li e aceito os termos contidos no regulamento da Campanha Mérito MAC.");
}
</div>