@{
    ViewBag.Title = "Acesso Negado";
    Layout = "~/Views/Shared/_LayoutAllUsers.cshtml";
}



@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <h3><b>Você não possui privilégios para acessar esta área.</b></h3>
        </div>
    </section>
}
<br/>
<div class="content-wrapper" style="font-size: 20px">
    <p><b>Se você deveria ter acesso a esta área, tente o seguinte:</b></p>
    <ol style="text-align: left">
        <li>
            Verifique se você está conectado com uma conta que possua privilégios. Caso esteja na conta errada, @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style="display:inline"})) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Saia de Sua Conta</a>
            } e entre com a correta.
        </li>
        <li>
            Entre em contato com um dos administradores do portal.
        </li>
    </ol>
    @Html.ActionLink("Voltar", "Index", "Freelancer")
</div>