@using Microsoft.Web.Mvc.Controls
@model MACPortal.ViewModel.CreateVisitVM

<div class="container" style="padding-bottom: 20px; padding-top: 20px;">
    <p id="validation-error" style="display:none;color:#d30f44;margin: 30px;font-weight: 500;font-size: 24px;">Alguns dos campos do formulário estão inválidos:</p>
    <form class="border-fix form-horizontal" id="refund-form">

                                       <!-- TARGET ID -->
        <input type="hidden" data-bind="value: VisitID" />

        <!-- STRING: NAME -->
        <div class="input-style col-lg-4 form-group disabled">                 <!-- INPUT NAME -->
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Name">
            <!-- LABEL -->
                Evento<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!-- FIELD NAME -->                                                      <!-- VALIDATION MSG -->                      <!-- VALIDATION LENGTH -->                         <!-- VALIDATION MSG -->                     <!--INPUT NAME-->
               <input data-bind="value: Name" class="form-control" data-val="true" data-val-length="O Evento não deve conter mais de 40 caracteres." data-val-length-max="40" data-val-required="O campo &#39;Evento&#39; é obrigatório" type="text" name="Name" />
                                                               <!-- INPUT NAME -->
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- DATE: START DATE -->
        <div class=" input-style col-lg-4 form-group">                        <!-- INPUT NAME -->
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="StartDate">
                <!-- LABEL -->
                Início<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                 <!-- FIELD NAME -->                                                     <!-- VALIDATION MSG -->                         <!-- VALIDATION MSG -->                <!--   INPUT NAMES   -->
                <input data-bind="value: StartDate" class="form-control" data-val="true" data-val-date="Formato da data invalido." data-val-required="O campo &#39;Início&#39; é obrigatório" id="StartDate" name="StartDate" type="date" value="01/01/0001 00:00:00" />
                                                                <!-- INPUT NAME -->
                <span class="field-validation-valid" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
            </div>
        </div>
        
        <!-- DATE: END DATE -->
        <div class=" input-style col-lg-4 form-group">                        <!-- INPUT NAME -->
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="EndDate">
            <!-- LABEL -->
                Término<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!-- FIELD NAME -->                                                     <!-- VALIDATION MSG -->                         <!-- VALIDATION MSG -->      <!--   INPUT NAMES   -->
                <input data-bind="value: EndDate" class="form-control" data-val="true" data-val-date="Formato da data invalido." data-val-required="O campo &#39;Término&#39; é obrigatório" id="EndDate" name="EndDate" type="date" value="01/01/0001 00:00:00" />
                                                                <!-- INPUT NAME -->
                <span class="field-validation-valid" data-valmsg-for="EndDate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- TEXTBOX: COMMENTS -->
        <div class=" col-lg-12 form-group">                                      <!-- INPUT NAME -->
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Comments">
                <!-- LABEL -->
                Comentários<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                     <!-- FIELD NAME -->                                                          <!-- VALIDATION MSG -->                  <!--   INPUT NAMES   -->
                <textarea data-bind="value: Comments" class="form-control" data-val="true" data-val-required="O campo &#39;Comentários&#39; é obrigatório" id="Comments" name="Comments" rows="2">
                </textarea>
                                                                <!-- INPUT NAME -->
                <span class="field-validation-valid" data-valmsg-for="Comments" data-valmsg-replace="true"></span>
            </div>
        </div>
        
        <!-- REFUND -->
        <div class="col-xs-12 form-group">
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="">
                Inclua aqui seus itens para reembolso.<span class="required" style="visibility: hidden;">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="foreach: { data: Refund.RefundItems, afterAdd: afterAddItem, beforeRemove: beforeRemoveItem }">
                    <div data-bind="attr: { id: RefundItemID }" class="refund-item-form-wrapper clearfix col-xs-12">
                        <!-- REMOVE ITEM BUTTON -->
                        <a data-bind='click: $root.removeItem' class="btn-default btn-xs btn" style="margin-bottom: 5px; float: right;" >
                            Deletar
                        </a>

                        <h3 class="col-lg-9 col-md-8 col-sm-12 refund-item-header" data-bind="text: Activity"></h3>
                        <div class="separator"></div>
                        <!-- REFUND ITEM ID -->
                        <input type="hidden" data-bind="value: RefundItemID" />

                        <!-- Categoria -->
                        <div class="col-lg-4 form-group input-style">
                            <label data-bind="label: 'Category'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                Categoria<span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select data-bind="value: Category, input: 'Category'" class="form-control " data-val="true" data-val-required="O campo &#39;Categoria&#39; é obrigatório">
                                    <option value="1">Transporte</option>
                                    <option value="2">Alimenta&#231;&#227;o</option>
                                    <option value="3">Telefone/Comunica&#231;&#245;es</option>
                                    <option value="6">Xerox/Cópia</option>
                                    <option value="4">Outros</option>
                                </select>
                                <span data-bind="validation: 'Category'" class="field-validation-valid" data-valmsg-replace="true"></span>
                            </div>
                            <div data-bind="visible: Category() == 4">
                                <label data-bind="label: 'OtherSpecification'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    Especificar
                                </label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input data-bind="value: OtherSpecification, input: 'OtherSpecification'" class="form-control" data-val="true" data-val-length="A Especificação não deve conter mais de 40 caracteres." data-val-length-max="40" type="text" value="" />
                                    <span data-bind="validation: 'OtherSpecification'" class="field-validation-valid" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Atividade -->
                        <div class="input-style col-lg-4 form-group">
                            <label data-bind="label: 'Activity'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Descrição<span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input data-bind="value: Activity, input: 'Activity'" class="form-control" data-val="true" data-val-length="A Descrição não deve conter mais de 40 caracteres." data-val-length-max="40" data-val-required="O campo &#39;Descrição&#39; é obrigatório" type="text" value="" />
                                <span data-bind="validation: 'Activity'" class="field-validation-valid" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <!-- Valor -->
                        <div class=" input-style col-lg-4 form-group">
                            <label data-bind="label: 'Value'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Valor<span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input data-bind="value: Value, input: 'Value'" class="form-control" data-val="true" data-val-number="O campo 'Valor' deve ser um número." data-val-required="O campo &#39;Valor&#39; é obrigatório" type="text" value="0" />
                                </div>
                                <span data-bind="validation: 'Value'" class="field-validation-valid" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <!-- Anexos -->
                        <!--
                            <div class="col-xs-12 form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="">
                                    Anexos<span class="required" style="visibility: hidden;">*</span>
                                </label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div data-bind="fineuploader: RefundItemID " class="fine-uploader clearfix"></div>                
                                </div>                      
                            </div>
                            -->
                    </div>
                </div>
                <!-- ADD ITEM BUTTON -->
                <div class="refund-item-form-wrapper clearfix  col-xs-12" style="display: table">
                    <a data-bind='click: $root.addItem' class="btn-special" style="margin-bottom: 5px; height: 100px" >
                        Incluir item para reembolso
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <button data-bind="click: SendForm" class="btn-default btn col-sm-4 col-sm-push-2" data-loading-text="Enviando" style="margin-right: 30px;margin-top: 50px;">@Model.SubmitText</button>
        </div>
</form>
</div>