@model string

<div class="clearfix">
    <button id="send-button" data-bind="click: SendForm" class="btn-default btn col-sm-4 col-sm-push-4" data-loading-text="Enviando" style="margin-top: 10px;">@Model</button>
    <p id="send-text" style="display: none">Criando...</p>
</div>