@using Microsoft.Web.Mvc.Controls
@model MACPortal.ViewModel.EditRefundVM

<div class="container" style="padding-bottom: 20px; padding-top: 20px;">
    <p id="validation-error" style="display:none;color:#d30f44;margin: 30px;font-weight: 500;font-size: 24px;">Alguns dos campos do formulário estão inválidos:</p>
    <form class="border-fix form-horizontal" id="refund-form">

        <!-- REFUND ID -->
        <input type="hidden" data-bind="value: RefundID" />

        <!-- Evento -->
        <div class="input-style col-lg-6 form-group disabled">
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Name">
                Evento<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input data-bind="value: Name" class="form-control" data-val="true" data-val-length="O Evento não deve conter mais de 40 caracteres." data-val-length-max="40" data-val-required="O campo &#39;Evento&#39; é obrigatório" type="text" name="Name" />
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Data -->
        <div class=" input-style col-lg-6 form-group">
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Date">
                Data<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input data-bind="value: Date" class="form-control" data-val="true" data-val-date="Formato da data invalido." data-val-required="O campo &#39;Data&#39; é obrigatório" id="Date" name="Date" type="date" value="01/01/0001 00:00:00" />
                <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Razão -->
        <div class=" col-lg-12 form-group">
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Reason">
                Razão<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <textarea data-bind="value: Reason" class="form-control" data-val="true" data-val-required="O campo &#39;Razão&#39; é obrigatório" id="Reason" name="Reason" rows="5"  @if (Model.isMonthly){<text>disabled="true"</text>}>
                    </textarea>
                <span class="field-validation-valid" data-valmsg-for="Reason" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Resultados -->
        <div class="col-lg-12 form-group">
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Results">
                Resultados<span class="required">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <textarea data-bind="value: Results" class="form-control" data-val="true" data-val-required="O campo &#39;Resultados&#39; é obrigatório" id="Results" name="Results" rows="5"  @if (Model.isMonthly){<text>disabled="true"</text>}>
                    </textarea>
                <span class="field-validation-valid" data-valmsg-for="Results" data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Atividades de Reembolso (REFUND ITEMS) -->
        <div class="col-xs-12 form-group">
            <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="">
                Atividades Realizadas<span class="required" style="visibility: hidden;">*</span>
            </label>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div data-bind="foreach: { data: RefundItems, afterAdd: afterAddItem, beforeRemove: beforeRemoveItem }">
                    <div data-bind="attr: { id: RefundItemID }" class="refund-item-form-wrapper clearfix col-xs-12">
                        @if (!Model.isMonthly){
                            <a data-bind='click: $root.removeItem' class="btn-default btn-xs btn" style="margin-bottom: 5px; float: right;" >
                                Deletar
                            </a>
                        }
                        <h3 class="col-lg-9 col-md-8 col-sm-12 refund-item-header" data-bind="text: Activity"></h3>
                        <div class="separator"></div>
                        <!-- REFUND ITEM ID -->
                        <input type="hidden" data-bind="value: RefundItemID" />

                        <!-- Atividade -->
                        <div class="input-style col-lg-4 form-group">
                            <label data-bind="label: 'Activity'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Atividade<span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input data-bind="value: Activity, input: 'Activity'" class="form-control" data-val="true" data-val-length="A Atividade não deve conter mais de 40 caracteres." data-val-length-max="40" data-val-required="O campo &#39;Atividade&#39; é obrigatório" type="text" value="" />
                                <span data-bind="validation: 'Activity'" class="field-validation-valid" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <!-- Categoria -->
                        <div class="col-lg-4 form-group input-style">
                            <label data-bind="label: 'Category'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                Categoria<span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <select data-bind="value: Category, input: 'Category'" class="form-control " data-val="true" data-val-required="O campo &#39;Categoria&#39; é obrigatório">
                                    @if (!Model.isMonthly)
                                    {
                                        <option value="1">Transporte</option>
                                        <option value="2">Alimenta&#231;&#227;o</option>
                                        <option value="3">Telefone/Comunica&#231;&#245;es</option>
                                        <option value="4">Outros</option>
                                    }
                                    else
                                    {
                                        <option value="5">Mensal</option>
                                    }
                                </select>
                                <span data-bind="validation: 'Category'" class="field-validation-valid" data-valmsg-replace="true"></span>
                            </div>
                            <div data-bind="visible: Category() == 4">
                                <label data-bind="label: 'OtherSpecification'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    Especificar
                                </label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input data-bind="value: OtherSpecification, input: 'OtherSpecification'" class="form-control" data-val="true" data-val-length="A Especificação não deve conter mais de 40 caracteres." data-val-length-max="40" type="text" value="" />
                                    <span data-bind="validation: 'OtherSpecification'" class="field-validation-valid" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Valor -->
                        <div class=" input-style col-lg-4 form-group">
                            <label data-bind="label: 'Value'" class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Valor<span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input data-bind="value: Value, input: 'Value'" class="form-control" data-val="true" data-val-number="O campo 'Valor' deve ser um número." data-val-required="O campo &#39;Valor&#39; é obrigatório" type="text" value="0" />
                                </div>
                                <span data-bind="validation: 'Value'" class="field-validation-valid" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <!-- Anexos -->
                        @if (!Model.isMonthly)
                        {
                            <div class="col-xs-12 form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-12" for="">
                                    Anexos<span class="required" style="visibility: hidden;">*</span>
                                </label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div data-bind="fineuploader: RefundItemID " class="fine-uploader clearfix"></div>                
                                </div>                      
                            </div>
                        }
                    </div>
                </div>
                @if (!Model.isMonthly)
                {
                    <div class="refund-item-form-wrapper clearfix  col-xs-12" style="display: table">
                        <a data-bind='click: $root.addItem' class="btn-special" style="margin-bottom: 5px; height: 100px" >
                            Nova Atividade
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix">
            <button data-bind="click: SaveForm" class="btn-default btn col-sm-4 col-sm-push-2" data-loading-text="Enviando" style="margin-right: 30px;margin-top: 50px;">Salvar</button>
            <button data-bind="click: SendForm" class="btn-default btn col-sm-4 col-sm-push-2" data-loading-text="Enviando" style="margin-right: 30px;margin-top: 50px;">Enviar</button>
            <p class="col-sm-8 col-sm-push-2">Após enviar este cadastro você não poderá mais editá-lo. Caso ainda tenha atividades, dados ou arquivos em pendência, salve este cadastro e finalize-o mais tarde.</p>
        </div>
</form>
</div>