@{
    //Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.InverseNavigation = true;
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<div class="container">
    <div class="col-lg-10 col-lg-push-1">
        @RenderBody()
    </div>
</div>
@RenderSection("PostContent", required:false)
@section scripts { @RenderSection("scripts", required:false) }
@section featured { @RenderSection("featured", required:false) }