@using MACPortal.Helpers
@model WellaMates.Models.Monthly

<div class="info-container clearfix">
    
    <div class="col-md-6 col-sm-12 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -70px -140px" title="Requerente"/>
        <h3 class="hidden-xs">Criado por</h3>
        <div class="info-content">
            <p class="text-name">@Model.Freelancer.RefundProfile.User.PersonalInfo.Name</p>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: 0 -140px" title="Requerente"/>
        <h3 class="hidden-xs">Mês</h3>
        <div class="info-content">
            <p class="text-name">@Model.Month</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -140px -140px" title="Código"/>
        <h3 class="hidden-xs">Código</h3>
        <div class="info-content">
            <p>@Model.MonthlyID</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 clearfix fixed-height">
        @{ Html.RenderPartial("_RefundStatusPartial", Model.Refund.Status); }
        <h3 class="hidden-xs">Status</h3>
        <div class="info-content">
            <p>@{ Html.RenderPartial("_RefundStatusNamePartial", Model.Refund.Status); }</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -280px -70px" title="Valor Total do Reembolso"/>
        <h3 class="hidden-xs">Valor Total do Reembolso</h3>
        <div class="info-content">
            <p>R$ @Model.Refund.Value</p>
        </div>
    </div>
    
    <div class="col-xs-12 clearfix">
        <h3 class="hidden-xs">Nota Fiscal de Prestação de Serviços</h3>
        <div class="info-content" style="display: block">
            @{
                var item = Model.Refund.RefundItems.First();
                if (item.Files != null && item.Files.Count > 0)
                {
                    Html.RenderPartial("_RefundItemsFilesSmallPartial", AzureBlobSA.ProcessFiles(item.Files).ToList());
                }
                foreach (var update in item.History)
                 {
                     if (update.Files != null && update.Files.Count > 0)
                     {
                         Html.RenderPartial("_RefundItemsFilesSmallPartial", AzureBlobSA.ProcessFiles(update.Files).ToList());
                     }
                 }
            }
        </div>
    </div>

</div>