@model System.Collections.Generic.ICollection<WellaMates.Models.RefundItemUpdate>

<table>
    @foreach (var update in Model)
    {
        <tr>
            <td>
                @Html.Raw("<b>" + update.RefundProfile.User.PersonalInfo.ArtisticName +
                " [" + update.Date.ToString("dd/MM/yy") + "]:</b> " + update.Comment)
            </td>
        </tr>
    }
</table>